* {
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    justify-content: center;
    margin: 2% 10%;
    gap: 10px;
}

ul > li{
    padding: 10px;
    list-style: none;
    padding: 15px 30px;
}

.infos {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 30%;
    align-items: center;
    justify-content: center;
}

.actions {
    display: flex;
    justify-content: center;
    gap: 20%;
}

.progress {
    display: flex;
    justify-content: center;
}


.operacoes {
    width: 60%;
    display: flex;
    flex-direction: column;
}

.enderecos {
    display: flex;
    justify-content: center;
    height: 250px;
}

.display_enderecos {
    display: flex;
    margin: 10px 0px;
    justify-content: space-around;
    align-items: center;
    height: 70px;
}

button {
    background: #0066A2;
    color: white;
    border-style: outset;
    border-color: #0066A2;
    height: 50px;
    width: 100px;
    font: bold15px arial,sans-serif;
    text-shadow: none;
}

.bloco_operacoes {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    border: 1px solid black;
}

.bloco_operacoes > .title_bloco {
    padding: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.display_operacoes {
    display: flex;
    width: 100%;
    justify-content: center;
    /* gap: 40%; */
    height: 30px;
    border: 1px solid black;
    height: 300px;
}

.enderecos > div {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
}

div.resultado_operacoes, div.seletor_operacoes {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.progress_bar {
    background-color: dimgray;
    border: 1px solid black;
}

.operacoes, .infos {
    border: 1px solid black;
}

.display_enderecos > div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.display_operacoes > div {
    border: 1px solid black;
}